
<p>
Hi ! , <%= @post.blogger.full_name %> 
================================================================
 
Some one have left you a comment in your post <%= @post.title %>
 
To login to the site, just follow this link: <%=post_url(@post)%>
 
Have a great day! plesae do not reply this email. 
</p>